@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello, welcome to our MVC application from Cosmic!</p>
    <p>Hello, welcome to our MVC application from Cosmic!</p>

</div>
